*,
a {
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}

/* =============================================================== * HEADER PART START * ================================================*/
.Main_Header {
  /* background: url(../img/aa.jpg); */
  background-color: #e9e2e1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Header_Top {
  padding: 20px 20px 0px 30px;
}
.btmargin{
  margin-top: 100px;
  padding-left: 50px;
}

.Header_Bootom span {
    color:#fd6e0a;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    font-family: "Poppins", sans-serif;
    margin-top: 100px;
  /* padding: 100px 0px 290px 20px; */
}
.Header_Bootom h1{
  color: #15295F;
  font-size: 75px;
  font-weight: 700;
  line-height: 1.5;
  margin: 10px 0;
  margin-top: -20px;
  font-family: "Poppins", sans-serif;
}
.Header_Bootom h3{
    color: #15295F;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}
.Header_Bootom p{
  margin: 20px 0 50px;
  color: #6f6b80;
  font-size: 16px;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
}
.headbtn1 .btn1{
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 50px;

 
}
.headbtn1 .btn2{
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 50px;
  margin-left: 30px;
 
}


/*------------------------------------------------------------ * BOOTSTRAP MENU CSS CODE START * ------------------------------------------ */
.navbar .navbar-nav .nav-link {
  font-size: 23px;
  font-weight: 700;
  color: #15295F;
  font-family: Gilroy;
  margin-right: 20px;
  border-bottom: 3px solid transparent;
  transition: 2s;
}

.navbar .navbar-nav .nav-link:hover {
  border-bottom: 3px solid white;
  color: #fff;
}

@media only screen and (min-width: 960px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  .dropdown .dropdown-menu {
    display: none;
    width: 250px;
    margin: 40px 50px 20px 10px;
    padding: 10px;
    /* background-color: blue;
  */
  }

  .dropdown:hover .dropdown-toggle::after {
    border-bottom: 0.3em solid;
    border-top: 0;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-toggle.show::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }
}

/*---------------------------------------------------------- * BOOTSTRAP MENU CSS CODE END * ------------------------------------------ */
/* ============================================================== * HEADER PART END * ================================================*/
/* ============================================================== * MAIN SECTION PART START * ================================================*/
.imgbox{
  background-color: #e9e2e1;
  padding-bottom: 40px;
  padding-top: 10px;
}
.imgboxbg{
  background-color:#ffffff;
  border-radius: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.box1{
border-right: 1px solid black;
margin-right: 20px;

}
.img1{
background-color: #FFC107;
border-radius: 50%;
}
.content1 h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: #15295F;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
}
.content1 p{
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #FD6E0A;
}





.feature-item{
background-color: #edeaea;
padding: 30px 0px 30px 0px;
}
.fbox{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
}
.ftittle span{
  letter-spacing: 1px;
    display: block;
    line-height: 14px;
    color: #f9004d;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
.ftittle h2{
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: rebeccapurple;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.fbox img{
  background-color: #FFC107;
  border-radius: 50%;
  }
  .fbox h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: #15295F;
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
  }
  .fbox p{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #6f6b80;
  }
  






/* ============================================================== * MAIN SECTION PART END * ================================================*/
/* ============================================================== * FOOTER PART START * ================================================*/
.main-footer {
  background-color: black;
}

.main-footer hr {
  color: #ffffff;
}


.sone>h5,
.stwo>h5,
.sthree>h5,
.sfour>h5,
.sfive>h5 {
  font-size: 28px;
  font-weight: 600;
  font-family: Gilroy;
  color: goldenrod;
}

.stwo>a,
.sthree>a,
.sfour>a,
.sfive>a {
  color: #ffffff;
  font-size: 15px;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}

.second_part {
  padding: 90px 0px 120px 20px;
}

.Third_Fast>a {
  font-size: 15px;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
}

.Third_Second i {
  font-size: 20px;
  padding: 10px 15px;
  transition-duration: 2s;
  color: #FFC107;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 10px;
}

.Third_Second :hover i {
  transform: scale(1.6);
  color: #000000;
  background-color: #ffffff;
}



.experience{
  padding: 80px 0px 80px 0px;
}

/* ============================================================== * FOOTER PART END * ================================================*/