body {
    margin: 0;
}

.green {
    width: 70%;
    height: 450px;
    background-color: green;
    position: relative;
}

.redbox {
    width: 150px;
    height: 150px;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
}
