body {
    margin: 0;
    font-family: sans-serif;
}

.blog {
    width: 45%;
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    border-radius: 40px;
}

.blog h1 {
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
}

.blog p {
    color: #fff;
    margin: 0;
}

.blog img {
    width: 50%;
    margin-bottom: 20px;
}

.blog p {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
}