body {
    margin: 0;
}

.awesome {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #fff;
    margin: 0 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    transition: 0.5s;
}

ul li:hover a {
    background-color: #fff;
    color: #000;
    
}


