 *{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.main-box{
    height: 400px;
    width: 80%;
    background-color:darkgreen ;
    position: relative;  /* main_box */
  
}
.box{
    height: 100px;
    width: 10%;
    background-color:rgb(232, 30, 30) ;
    position: absolute;   /* Child_Box */
    bottom: 0;
    right: 0;
   
}