body{
    margin: 0px;
    padding: 0px;
}
  #idee li{
font-size: 30px;
color: red;
}
#idee li{
    font-size: 30px;
    color: rgb(69, 255, 7);
    }
/* programming ar moto update value kaj korse */