body{
    margin: 0;
    padding: 0;
  
}
p,a{                /*Attributes selector selector  */
    color: green;
}
li {
    list-style-type: square;
}
.item{
    color: rgb(0, 61, 146);
    font-weight: bold;
}
p:hover{
    color: brown;
}
a:hover{                /*pseudo class selector  */
    font-size: 20px;
    text-decoration: none;
    color: crimson;
}
 li[class]{             /*class selector  */
    font-size: 30px;
}