*,
a {
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}

/* =============================================================== * HEADER PART START * ================================================*/
.Main_Header {
  background: url(../img/cover3.jpg) rgba(0, 0, 0, 0.3);
  background-blend-mode: color;
  background-position: center left;
  background-repeat: repeat;
  background-size: cover;
}

.About_Header {
  background: url(../img/cover2.jpg) rgba(0, 0, 0, 0.3);
  background-blend-mode: color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Header_Top {
  padding: 20px 20px 0px 30px;
}

.Header_Bootom {
  padding: 130px 0px 290px 30px;

}

.text h1,
h2 {
  color: #ffffff;
  font-size: 20px;
  font-family: Gilroy, Raleway, sans-serif;
  font-weight: 600;
  line-height: 1;
}

.text h2 {
  font-size: 55px;
  line-height: 66px;
}

.text button {
  border: 1px solid white;
  color: white;
  background-color: rgb(45, 45, 196);
  padding: 10px 50px 5px 40px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  transition-duration: 1s;
  cursor: pointer;
  position: relative;
}

.text i {
  position: absolute;
  padding-left: 15px;
  padding-top: 7px;
}

.text .button:hover {
  background-color: #ffffff;
  color: rgb(4, 4, 4);
  transform: scale(1.2);
}

.login {
  background-color: #2D2DC4;
  border-radius: 5%;

}

.login :hover {
  transform: scale(1.1);

}


/*------------------------------------------------------------ * BOOTSTRAP MENU CSS CODE START * ------------------------------------------ */
.navbar .navbar-nav .nav-link {
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  font-family: Gilroy;
  margin-right: 20px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: 3s;
}

.navbar .navbar-nav .nav-link:hover {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  color: #fff;
}

@media only screen and (min-width: 960px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  .dropdown .dropdown-menu {
    display: none;
    width: 250px;
    margin: 40px 50px 20px 10px;
    padding: 10px;
    /* background-color: blue;
  */
  }

  .dropdown:hover .dropdown-toggle::after {
    border-bottom: 0.3em solid;
    border-top: 0;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-toggle.show::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }
}

/*---------------------------------------------------------- * BOOTSTRAP MENU CSS CODE END * ------------------------------------------ */
/* ============================================================== * HEADER PART END * ================================================*/
/* ============================================================== * MAIN SECTION PART START * ================================================*/
.logolist {
  padding: 70px 0px 80px 0px;
  text-align: center;
}

.HR1 {
  margin: auto;
  border-bottom: solid 2px green;
  padding: 30px;
  width: 83%;


}

.Our-Services h3 {
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 42px;

}

.Our-Services p {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-right: 58px;
  padding-bottom: 30px;
  padding-top: 20px;
  /* text-align: justify; */

}

.homerow {
  margin-left: 60px;
}

.service-img-box {
  padding-top: 90px;
  padding-bottom: 30px;


}

.service-img-box button {
  padding: 10px 30px 10px 30px;
  transition: 2s;
}

.service-img-box button:hover {
  background-color: #37dc00;
  color: black;
  font-weight: bolder;
  transform: scale(1.2);
  transition: 2s;
}

.HR2 {
  margin: auto;
  border-bottom: solid 2px green;
  padding-bottom: 90px;
  width: 100%;
  margin-bottom: 80px;
}

.feature-project h3 {
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 42px;

}

.feature-project {
  /* margin: auto; */
}

.feature-img p {
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  color: #000000;
}

.feature-img img {
  height: 500px;
  width: 500px;
  transition: 1s;
  overflow: hidden;
}

.feature-img :hover {
  transform: scale(1.1);
  cursor: pointer;
}

.feature-img button {
  transition: 2s;
  padding: 10px 50px 10px 50px;
}

.feature-img :hover button {
  background-color: #37dc00;
  font-weight: bolder;
  transition: 2s;
}

.flast button {
  background-color: #37dc00;
  transition: 2s;
  padding: 10px 20px 10px 20px;
}

.flast button:hover {
  transition: 2s;
  color: white;
}

.varea {
  padding: 100px 0px 100px 0px;
}

.vtext p {
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 400;
  font-size: 25px;

}

.vtext button {
  background-color: #37dc00;
  transition: 2s;
  padding: 10px 20px 10px 20px;
  font-weight: bolder;
}

.vtext button:hover {
  transition: 2s;
  color: white;
}

.HR3 {
  border-bottom: solid 2px green;
  padding-top: 120px;
  width: 80%;
}

.vicon {
  height: 420px;
  width: 580px;
  background: url(../img/vvv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.company {
  padding: 100px 0px 100px 0px;
}

.company h3 {
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;

}

.company p {
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;

}

.com1 img {
  height: 400xp;
  width: 520px;
}

.HR4 {
  border-bottom: solid 2px green;
  width: 100%;

}

.kkk {
  margin-top: 60px;
}

.kkk button {
  background-color: #0C66EB;
  transition: 2s;
  padding: 10px 20px 10px 20px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.kkk button:hover {
  background-color: #37dc00;
  transition: 2s;
  color: white;
}

.HR5 {
  border-bottom: solid 2px green;
  width: 100%;

}

.check h3 {
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
}

.check1 a {
  font-size: 20px;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  color: black;
  font-weight: 500;

}

.HR5 {
  border-bottom: solid 2px green;
  width: 100%;
  margin-bottom: 50px;

}

.check1 div :hover {
  color: brown;
  font-weight: bold;

}






/* ============================================================== * MAIN SECTION PART END * ================================================*/
/* ============================================================== * FOOTER PART START * ================================================*/
.main-footer {
  background-color: black;
}

.main-footer hr {
  color: #ffffff;
}

.First_part p {
  font-size: 35px;
  font-weight: 500;
  color: #ffffff;
}

.First_part button {
  background-color: #37dc00;
  transition: 2s;
  padding: 10px 20px 10px 20px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.First_part button:hover {
  background-color: #0C66EB;
  transition: 2s;
  color: white;
}

.sone>h5,
.stwo>h5,
.sthree>h5,
.sfour>h5,
.sfive>h5 {
  font-size: 28px;
  font-weight: 600;
  font-family: Gilroy;
  color: goldenrod;
}

.stwo>a,
.sthree>a,
.sfour>a,
.sfive>a {
  color: #ffffff;
  font-size: 15px;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}

.second_part {
  padding: 90px 0px 120px 20px;
}

.Third_Fast>a {
  font-size: 15px;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
}

.Third_Second i {
  font-size: 20px;
  padding: 10px 15px;
  transition-duration: 2s;
  color: #FFC107;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 10px;
}

.Third_Second :hover i {
  transform: scale(1.6);
  color: #000000;
  background-color: #ffffff;
}

/* ============================================================== * FOOTER PART END * ================================================*/
/* ============================================================== * ABOUT Page * ================================================*/
.htop {
  background-color: #140000;

}

.htop h1 {
  color: #ffffff;
  font-size: 65px;
  line-height: 85px;
}

.hbottom h2 {
  font-size: 48px;
  line-height: 1.25;
  color: black;
  font-weight: 600;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  margin: 0 0 1rem 0;
  padding-top: 100px;
}

.hbottom h2 span {
  text-decoration: underline #F47521;

}

.hbottom p {
  font-size: 18px;
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 400;
  padding-top: 100px;
  padding-bottom: 100px;

}

/* 2nd sec */
.bg2nd {
  background: url(../img/about-us-cover-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
}

.mission-vission {
  margin-top: 30px;

}

.text1 {
  margin-left: 20px;
  border-right: 2px solid red;
  border-top: 2px solid red;
  border-width: 9px;

}

.text1 h2 {
  font-size: 50px;
  line-height: 1.25;
  color: black;
  font-weight: 600;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  margin: 0 0 1rem 0;
  padding-top: 100px;
}

.text1 p {
  font-size: 17px;
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 400;
  line-height: 1.60;
}

.text2 {

  border-left: 2px solid red;
  border-bottom: 2px solid red;
  border-width: 9px;


}

.text2 h2 {
  font-size: 50px;
  line-height: 1.25;
  color: black;
  font-weight: 600;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  margin-left: 50px;
  padding-top: 30px;
}

.text2 p {
  font-size: 17px;
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 400;
  line-height: 1.60;
  padding-bottom: 150px;
  margin-left: 50px;
}

.counter {
  padding: 90px 0px 90px 0px;
  text-align: center;
}

.count h3 {
  color: #000000;
  font-size: 45px;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif !important;
  font-weight: 600;

}

.count p {
  font-size: 17px;
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 400;
  line-height: 1.60;

}

.alast {
  padding-bottom: 50px;
}

.t1 h3 {
  color: #000000;
  font-size: 55px;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif !important;
  font-weight: 600;
}

.t1 p {
  margin-top: 20px;
  font-size: 19px;
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 300;
  line-height: 1.60;

}

/* About page css is her=========================================================  */

.btop {
  background-color: #140000;
  padding-top: 50px;
  padding-bottom: 30px;
}

.btop h1 {
  color: #ffffff;
  font-size: 65px;
  line-height: 85px;
}

.btop h1 span {
  text-decoration: underline #F47521;


}

.blogtop p {
  font-size: 18px;
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 400;
  padding-top: 60px;
  color: #ffffff;

}

.bgg {
  background-color: #1f9f0b;
  padding: 20px 0px 20px 115px
}

.b2 {
  padding-bottom: 30px;
  padding-top: 40px;
}

.searc input {
  font-weight: bolder;
}

.bpage a {
  font-size: 45px;
  line-height: 60px;
  color: black;
  font-weight: 500;
}

.bpage p {
  font-size: 18px;
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 400;
  padding-top: 20px;
  color: black;
}

.bimg img {
  transition: 1s;

}

.bimg :hover {
  transform: scale(1.1);
  cursor: pointer;

}

.rowpay {
  margin-left: 60px;
}

/* CONATCT page css is her=========================================================  */
.conatcat h2 {
  color: #050505;
  font-size: 20px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.conatcat {
  padding: 50px 0px 50px 0px;
}

.conatcat h2 {
  padding-bottom: 20px;
}