*,
a {
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}

/* =============================================================== * HEADER PART START * ================================================*/
.Main_Header {
  background: url(../img/aa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Header_Top {
  padding: 20px 20px 0px 30px;
}

.Header_Bootom {
  padding: 100px 0px 290px 20px;
}

.text h1,
h2 {
  color: #ffffff;
  font-size: 20px;
  font-family: Gilroy, Raleway, sans-serif;
  font-weight: 600;
  line-height: 1;
}

.text h2 {
  font-size: 55px;
  line-height: 66px;
}

.text button {
  border: 1px solid white;
  color: white;
  background-color: blue;
  padding: 10px 50px 5px 40px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  transition-duration: 1s;
  cursor: pointer;
  position: relative;
}
.text i {
  position: absolute;
  padding-left: 15px;
  padding-top: 7px;
}
.text .button:hover {
  background-color: #ffffff;
  color: rgb(4, 4, 4);
  transform: scale(1.2);
}

/*------------------------------------------------------------ * BOOTSTRAP MENU CSS CODE START * ------------------------------------------ */
.navbar .navbar-nav .nav-link {
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  font-family: Gilroy;
  margin-right: 20px;
  border-bottom: 3px solid transparent;
  transition: 2s;
}
.navbar .navbar-nav .nav-link:hover {
  border-bottom: 3px solid white;
  color: #fff;
}
@media only screen and (min-width: 960px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
  .dropdown .dropdown-menu {
    display: none;
    width: 250px;
    margin: 40px 50px 20px 10px;
    padding: 10px;
    /* background-color: blue;
  */
  }

  .dropdown:hover .dropdown-toggle::after {
    border-bottom: 0.3em solid;
    border-top: 0;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-toggle.show::after {
    border-top: 0;
    border-bottom: 0.3em solid;
  }
}

/*---------------------------------------------------------- * BOOTSTRAP MENU CSS CODE END * ------------------------------------------ */
/* ============================================================== * HEADER PART END * ================================================*/
/* ============================================================== * MAIN SECTION PART START * ================================================*/
.logolist {
  padding: 70px 0px 80px 0px;
  text-align: center;
}

.HR1 {
  margin: auto;
  border-bottom: solid 2px green;
  padding: 30px;
  width: 83%;


}

.Our-Services h3 {
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 42px;

}
.Our-Services p {
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  padding-right: 58px;
  padding-bottom: 30px;
  /* text-align: justify; */

}

.service-img-box {
  padding-top: 90px;
  padding-bottom: 30px;


}
.service-img-box button{
  padding: 10px 30px 10px 30px;
  transition: 2s;
}
.service-img-box button:hover{
  background-color: #37dc00;
  color: black;
  font-weight:bolder;
  transform: scale(1.2);
  transition: 2s;
}
.HR2 {
  margin: auto;
  border-bottom: solid 2px green;
  padding-bottom: 90px;
  width: 100%;
  margin-bottom: 80px;
}

.feature-project h3 {
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 42px;

} 
.feature-project{
  margin: auto;
}
.feature-img p{
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  padding-right: 58px;
  padding-bottom: 30px;
  color: #000000;
}
.feature-img img{
  transition: 1s;
  overflow: hidden;
}
.feature-img :hover  {
  transform: scale(1.1); 
  cursor: pointer;
}
.feature-img button{
  transition: 2s;
  padding: 10px 50px 10px 50px;
}
.feature-img :hover button{
  background-color: #37dc00;
  font-weight: bolder;
  transition: 2s;
}
.flast button{
  background-color: #37dc00;
  transition: 2s;
  padding: 10px 20px 10px 20px;
}
.flast button:hover {
  transition: 2s;
  color: white;
}
.varea{
padding: 100px 0px 100px 0px;
}
.vtext p{
  font-family: Aeonik,-apple-system,BlinkMacSystemFont,Montserrat,sans-serif!important;
  font-weight: 400;
  font-size: 25px;

}
.vtext button{
  background-color: #37dc00;
  transition: 2s;
  padding: 10px 20px 10px 20px;
  font-weight: bolder;
}
.vtext button:hover {
  transition: 2s;
  color: white;
}
.HR3{
  border-bottom: solid 2px green;
  padding-top: 120px;
  width: 80%;
}
.vicon{
  height: 420px;
  width: 580px;
  background: url(../img/vvv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.company{
  padding: 100px 0px 100px 0px;
}

.company h3{
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;

}
.company p{
  font-family: Aeonik, -apple-system, BlinkMacSystemFont, Montserrat, sans-serif !important;
  font-weight: 300;
  font-size: 20px;
  line-height: 38px;

}
.com1 img{
  height: 400xp;
  width: 520px;
}
.HR4 {
  border-bottom: solid 2px green;
  width: 100%;

}
.kkk{
  margin-top: 60px;
}
.kkk button{
  background-color: #0C66EB;
  transition: 2s;
  padding: 10px 20px 10px 20px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}
.kkk button:hover {
  background-color: #37dc00;
  transition: 2s;
  color: white;
}
.HR5 {
  border-bottom: solid 2px green;
  width: 100%;

}
.check h3{
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, Raleway, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
}
.check1 a{
    font-size: 20px;
    font-family: Gilroy,-apple-system,BlinkMacSystemFont,Raleway,sans-serif;
    color: black;
    font-weight: 500;
 
}
.HR5 {
  border-bottom: solid 2px green;
  width: 100%;
  margin-bottom: 50px;

}
.check1 div :hover{
  color:brown;
  font-weight: bold;

}






/* ============================================================== * MAIN SECTION PART END * ================================================*/
/* ============================================================== * FOOTER PART START * ================================================*/
.main-footer {
  background-color: black;
}

.main-footer hr {
  color: #ffffff;
}

.First_part p {
  font-size: 35px;
  font-weight: 500;
  color: #ffffff;
}
.First_part button{
  background-color:#37dc00;
  transition: 2s;
  padding: 10px 20px 10px 20px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}
.First_part button:hover {
  background-color: #0C66EB;
  transition: 2s;
  color: white;
}
.sone>h5,
.stwo>h5,
.sthree>h5,
.sfour>h5,
.sfive>h5 {
  font-size: 28px;
  font-weight: 600;
  font-family: Gilroy;
  color: goldenrod;
}

.stwo>a,
.sthree>a,
.sfour>a,
.sfive>a {
  color: #ffffff;
  font-size: 15px;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
}

.second_part {
  padding: 90px 0px 120px 20px;
}

.Third_Fast>a {
  font-size: 15px;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
}

.Third_Second i {
  font-size: 20px;
  padding: 10px 15px;
  transition-duration: 2s;
  color: #FFC107;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 10px;
}

.Third_Second :hover i {
  transform: scale(1.6);
  color: #000000;
  background-color: #ffffff;
}

/* ============================================================== * FOOTER PART END * ================================================*/